.navbar {
    background-color: var(--bg-navbar);
    color: var(--text-main);
    flex-direction: row;
}

.navbar-container {
    margin: auto;
    width: var(--container-width, 1280px);
    display: flex;
    justify-content: space-between;
}

.navbar-icons {
  display: flex;
  flex-direction: row;
}