.newchar {
  margin: 3rem auto;
  padding: 1rem;
  width: min(1120px, 100% - 3rem);
  background-color: var(--bg-secondary);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.newchar-container {
  display: grid;
  grid-template-columns: 1fr 1.4fr 1fr;
  gap: 1rem;
}

.newchar-title {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--text-main);
  margin: 0.5rem auto 1.6rem;
}

.newchar-panel {
  background: var(--bg-panel);
  border: 1px solid rgba(255,255,255,0.05);
  border-radius: 14px;
  padding: 0.6rem 1rem;
  min-height: 500px;
}

.newchar-panel.center {
  background-color: transparent;
  border: 0;
}

.newchar-header {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.newchar-footer {
  display: flex;
  justify-content: right;
  margin: 1.2rem 0.8rem;
}

