.tile {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  /* cursor: pointer; */
  position: relative; 
  border-right: 1px solid var(--bg-secondary);
  border-bottom: 1px solid var(--bg-secondary);
}

.tile:hover { filter: brightness(1.1); }

.tile.selected {
  outline: 3px solid red;
  outline-offset: -2px;
}

.tile.active::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 4px solid rgb(0, 221, 66);
}

.tile.in-range::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.2);
}

.tile.valid::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 4px solid rgb(15, 126, 253);
}

.tile.grass { background-color: #4a7e46; }
.tile.water { background-color: #59cff3; }
.tile.land { background-color: #b9814b; }
.tile.stone { background-color: #7c7c7c; }

.tile.player { color: white; text-shadow: -1px 0 black, 0 1px black;}
.tile.enemy { color: red; text-shadow: 1px 0 black, 0 1px black; }
.tile.chest { color: #ffae18; text-shadow: 1px 0 black, 0 1px black; }