.main-game {
  margin: 2rem auto;
  padding: 1rem;
  width: min(1080px, 100% - 3rem);
  background-color: var(--bg-secondary);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.game-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}

.game-panel {
  background: var(--bg-panel);
  border: 1px solid rgba(255,255,255,0.05);
  border-radius: 14px;
  padding: 0.6rem 1rem;
  min-height: 500px;
}

.game-panel h2 {
  font-weight: bold;
  /* text-align: center; */
  margin: 0.3rem auto 1rem;
}

.game-panel.center {
  background-color: transparent;
  border: 0;
}