#root {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  /* min-height: 100%; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui, Arial, sans-serif;
}

.title-container {
  margin: 5rem auto 3rem;
}

.panel {
  background: var(--bg-panel);
  padding: 2em;
  border-radius: 10px;
}